@font-face {
  font-family: 'li';
  src: url('../fonts/li/li.eot');
  src: url('../fonts/li/li.eot#iefix') format('embedded-opentype'),
       url('../fonts/li/li.woff') format('woff'),
       url('../fonts/li/li.ttf') format('truetype'),
       url('../fonts/li/li.svg#li') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "li";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-stem:before { content: '\e800'; } /* '' */
.icon-flower:before { content: '\e801'; } /* '' */
.icon-cat-skull:before { content: '\e802'; } /* '' */
.icon-sp:before { content: '\e803'; } /* '' */
