// Overall Layout

.artist {
  position: fixed;
  top: 0;
  left: 0;
  right: 53px;
  padding: 0.5rem;
  background-color: rgba($black, 0.8);

  label {
    color: $sirocco;
    font-weight: bold;
  }
}

.iconography {
  width: 100%;
  text-align: center;
  margin: 0;
}

.title {
  text-align: center;
  margin: 0;
  margin-top: 1rem;
}


.mode-container {
  @include clearfix;
}

.mode-copy {
  display: inline-block;
  float: left;
  width: 50%;
  margin-top: 0.25rem;
}

.modes {
  display: inline-block;
  float: left;
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 1.25rem;

  li {
    list-style: none;
    display: inline-block;
  }

  label {
    padding: 0.25rem 0;
    padding-left: 2.5rem;
  }

  li:first-child label { padding-left: 0 }

  strong {
    font-weight: bold;
    color: $link-light;
    position: relative;
    top: 3px;
    margin-left: 0.25rem;
  }
}


.actions {
  padding-top: 1rem;
  text-align: center;
}


.content {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 1.5rem;

  .lyrics {
    p { margin: 0; }
    p:nth-child(4n) { margin-bottom: 1.5rem; }
  }
}


.source-songs {
  display: none;
}


.ng-animate { transition: all 0.25s; }
.ng-enter { opacity: 0; }
.ng-enter.ng-enter-active { opacity: 1; }
.ng-leave { opacity: 0; }
.ng-leave.ng-leave-active { opacity: 0; }
