@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box; }

@font-face {
  font-family: 'Violatio';
  src: url("../fonts/violatio/violatio.eot");
  src: url("../fonts/violatio/violatio.eot?#iefix") format("embedded-opentype"), url("../fonts/violatio/violatio.woff2") format("woff2"), url("../fonts/violatio/violatio.woff") format("woff"), url("../fonts/violatio/violatio.ttf") format("truetype"), url("../fonts/violatio/violatio.svg#violationregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
@font-face {
  font-family: 'li';
  src: url("../fonts/li/li.eot");
  src: url("../fonts/li/li.eot#iefix") format("embedded-opentype"), url("../fonts/li/li.woff") format("woff"), url("../fonts/li/li.ttf") format("truetype"), url("../fonts/li/li.svg#li") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "li";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-stem:before {
  content: '\e800'; }

/* '' */
.icon-flower:before {
  content: '\e801'; }

/* '' */
.icon-cat-skull:before {
  content: '\e802'; }

/* '' */
.icon-sp:before {
  content: '\e803'; }

/* '' */
html {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  line-height: 1.4;
  color: #fff;
  background-color: #000;
  margin: 1rem; }

h1, h2, h3, p {
  margin-bottom: 1rem; }

h1 {
  font-size: 3rem;
  font-weight: 700; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1rem; }

h1, h2, h3, h4 {
  line-height: 1.0; }

b, strong, h4 {
  font-weight: 700; }

h5 {
  font-weight: 300; }

em, i {
  font-style: italic; }

code,
pre {
  font-family: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace; }

small {
  font-size: 0.8em; }

big {
  font-size: 1.2em; }

a {
  text-decoration: none;
  color: #8a181a;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  a:hover {
    color: #b52022; }

.sprite {
  display: inline-block;
  margin: 1rem; }

button {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #8a181a;
  padding: 0.5rem 2rem;
  border: none;
  outline: none;
  margin: 1rem 0;
  text-transform: uppercase; }
  button:hover {
    background-color: #b52022; }

.select {
  font-size: 1rem;
  position: relative;
  display: inline-block;
  color: #bbb; }
  .select select {
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    display: block;
    padding: 0.15rem 0.5rem;
    margin: 0;
    transition: border-color 0.2s;
    border: none;
    border-radius: 0;
    background: #000;
    color: #bbb;
    line-height: normal;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit; }
    .select select:hover {
      color: #fff; }

.artist {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10; }
  .artist label {
    color: #6C726F;
    font-weight: bold; }

.iconography {
  width: 100%;
  text-align: center;
  margin: 0; }

.iconography-top {
  margin-top: 48px; }

.title {
  text-align: center;
  margin: 0;
  margin-top: 1rem; }

.mode-container::after {
  clear: both;
  content: "";
  display: table; }

.mode-copy {
  display: inline-block;
  float: left;
  width: 50%;
  margin-top: 0.25rem; }

.modes {
  display: inline-block;
  float: left;
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 1.25rem; }
  .modes li {
    list-style: none;
    display: inline-block; }
  .modes label {
    padding: 0.25rem 0;
    padding-left: 2.5rem; }
  .modes li:first-child label {
    padding-left: 0; }
  .modes strong {
    font-weight: bold;
    color: #b52022;
    position: relative;
    top: 3px;
    margin-left: 0.25rem; }

.actions {
  padding-top: 1rem;
  text-align: center; }

.content {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 1.5rem; }
  .content .lyrics p {
    margin: 0; }
  .content .lyrics p:nth-child(4n) {
    margin-bottom: 1.5rem; }

.source-songs {
  display: none; }

.ng-animate {
  transition: all 0.25s; }

.ng-enter {
  opacity: 0; }

.ng-enter.ng-enter-active {
  opacity: 1; }

.ng-leave {
  opacity: 0; }

.ng-leave.ng-leave-active {
  opacity: 0; }

@media (max-width: 800px) {
  .mode-copy,
  .modes {
    display: block;
    width: 100%; }
  .modes {
    margin: 0;
    padding: 0;
    margin-left: 1rem; }
    .modes li {
      display: block;
      padding: 0;
      margin: 0;
      padding: 0.25rem 0; }
      .modes li label {
        padding: 0;
        width: 100%;
        font-size: 1.25rem; }
  .generated-results {
    margin: 0.5rem 0.25rem; } }

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 10px 0; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px rgba(13, 13, 13, 0);
  background: #6C726F;
  border-radius: 0px;
  border: 0px solid transparent; }

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid #b52022;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  background: #b52022;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #858c89; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px rgba(13, 13, 13, 0);
  background: #6C726F;
  border-radius: 0px;
  border: 0px solid transparent; }

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid #b52022;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  background: #b52022;
  cursor: pointer; }

input[type=range]::-ms-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #383838;
  border: 0px solid transparent;
  border-radius: 0px;
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px rgba(13, 13, 13, 0); }

input[type=range]::-ms-fill-upper {
  background: #6C726F;
  border: 0px solid transparent;
  border-radius: 0px;
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px rgba(13, 13, 13, 0); }

input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid #b52022;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  background: #b52022;
  cursor: pointer;
  height: 12px; }

input[type=range]:focus::-ms-fill-lower {
  background: #6C726F; }

input[type=range]:focus::-ms-fill-upper {
  background: #858c89; }

.slider p {
  color: #bbb; }

.range-value {
  font-size: 1.25em;
  color: #fff;
  font-weight: bold; }

.depeche-mode .artist-font {
  font-family: "Violatio", serif; }

.depeche-mode .title {
  font-family: "Violatio", serif;
  font-size: 4.25rem; }

.depeche-mode .title,
.depeche-mode .content {
  position: relative;
  top: -4rem; }

.depeche-mode .icon {
  color: #8a181a; }

.depeche-mode .iconography-top {
  font-size: 17rem; }
  .depeche-mode .iconography-top .icon {
    position: relative;
    top: -2.5rem; }

.depeche-mode .iconography-bottom {
  font-size: 8rem; }
  .depeche-mode .iconography-bottom .icon {
    position: relative;
    top: -5.5rem;
    right: 1.5rem; }

@media (max-width: 800px) {
  .depeche-mode .title {
    font-size: 4rem; } }

@media (max-width: 500px) {
  .depeche-mode .title {
    font-size: 3rem;
    margin: 0; }
  .depeche-mode .iconography-top {
    font-size: 10rem; }
    .depeche-mode .iconography-top .icon {
      top: -1.5rem; }
  .depeche-mode .title,
  .depeche-mode .content {
    top: -2.5rem; }
  .depeche-mode .iconography-bottom {
    font-size: 5rem; }
    .depeche-mode .iconography-bottom .icon {
      position: relative;
      right: 0.75rem;
      top: -3.5rem; } }

.depeche-mode a {
  color: #8a181a; }
  .depeche-mode a:hover {
    color: #b52022; }

.depeche-mode button {
  color: #fff;
  background-color: #8a181a; }
  .depeche-mode button:hover {
    background-color: #b52022; }

.depeche-mode .modes strong {
  color: #b52022; }

.depeche-mode input[type=range]::-webkit-slider-runnable-track {
  background: #6C726F; }

.depeche-mode input[type=range]::-webkit-slider-thumb {
  border: 0px solid #b52022;
  background: #b52022; }

.depeche-mode input[type=range]:focus::-webkit-slider-runnable-track {
  background: #858c89; }

.depeche-mode input[type=range]::-moz-range-track {
  background: #6C726F; }

.depeche-mode input[type=range]::-moz-range-thumb {
  border: 0px solid #b52022;
  background: #b52022; }

.depeche-mode input[type=range]::-ms-fill-upper {
  background: #6C726F; }

.depeche-mode input[type=range]::-ms-thumb {
  border: 0px solid #b52022;
  background: #b52022; }

.depeche-mode input[type=range]:focus::-ms-fill-lower {
  background: #6C726F; }

.depeche-mode input[type=range]:focus::-ms-fill-upper {
  background: #858c89; }

.skinny-puppy .artist-font {
  font-family: "Six Caps", serif; }

.skinny-puppy .title {
  font-family: "Six Caps", serif;
  font-size: 14rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #32749B;
  margin: 0; }

.skinny-puppy .title,
.skinny-puppy .content {
  position: relative;
  top: -5rem; }

.skinny-puppy .icon {
  color: #555; }

.skinny-puppy .iconography-top {
  font-size: 16rem; }
  .skinny-puppy .iconography-top .icon {
    position: relative;
    left: -2.75rem;
    top: -2rem; }

.skinny-puppy .iconography-bottom {
  font-size: 11rem;
  position: relative;
  top: -6rem; }

@media (max-width: 900px) {
  .skinny-puppy .title {
    font-size: 10rem; } }

@media (max-width: 800px) {
  .skinny-puppy .title {
    font-size: 8rem; }
  .skinny-puppy .title,
  .skinny-puppy .content {
    position: relative;
    top: -3.25rem; } }

@media (max-width: 500px) {
  .skinny-puppy .title {
    font-size: 4.5rem;
    margin: 0; }
  .skinny-puppy .iconography-top {
    font-size: 10rem; }
    .skinny-puppy .iconography-top .icon {
      left: -1.75rem; } }

.skinny-puppy a {
  color: #888; }
  .skinny-puppy a:hover {
    color: #32749B; }

.skinny-puppy button {
  color: #fff;
  background-color: #888; }
  .skinny-puppy button:hover {
    background-color: #32749B; }

.skinny-puppy .modes strong {
  color: #32749B; }

.skinny-puppy input[type=range]::-webkit-slider-runnable-track {
  background: #6C726F; }

.skinny-puppy input[type=range]::-webkit-slider-thumb {
  border: 0px solid #32749B;
  background: #32749B; }

.skinny-puppy input[type=range]:focus::-webkit-slider-runnable-track {
  background: #858c89; }

.skinny-puppy input[type=range]::-moz-range-track {
  background: #6C726F; }

.skinny-puppy input[type=range]::-moz-range-thumb {
  border: 0px solid #32749B;
  background: #32749B; }

.skinny-puppy input[type=range]::-ms-fill-upper {
  background: #6C726F; }

.skinny-puppy input[type=range]::-ms-thumb {
  border: 0px solid #32749B;
  background: #32749B; }

.skinny-puppy input[type=range]:focus::-ms-fill-lower {
  background: #6C726F; }

.skinny-puppy input[type=range]:focus::-ms-fill-upper {
  background: #858c89; }
