// Meaningless & Forgettable
.depeche-mode {
  $link: $red;
  $link-light: $red-light;
  $link-lighter: $red-lighter;

  .artist-font { font-family: $font-depeche-mode; }

  .title {
    font-family: $font-depeche-mode;
    font-size: 4.25rem;
  }

  .title,
  .content {
    position: relative;
    top: -4rem;
  }

  .icon { color: $red; }

  .iconography-top {
    font-size: 17rem;

    .icon {
      position: relative;
      top: -2.5rem;
    }
  }

  .iconography-bottom {
    font-size: 8rem;

    .icon {
      position: relative;
      top: -5.5rem;
      right: 1.5rem;
    }
  }

  // just can't get enough ... responsiveness
  @include media('<=sm') {
    .title {
      font-size: 4rem;
    }
  }

  @include media('<=xs') {
    .title {
      font-size: 3rem;
      margin: 0;
    }

    .iconography-top {
      font-size: 10rem;

      .icon {
        top: -1.5rem;
      }
    }

    .title,
    .content {
      top: -2.5rem;
    }

    .iconography-bottom {
      font-size: 5rem;

      .icon {
        position: relative;
        right: 0.75rem;
        top: -3.5rem;
      }
    }
  }


  // overrides for local color varialbes.
  // css variables are going to be nice... one day :)
  a {
    color: $link;
    &:hover { color: $link-light; }
  }

  button {
  	color: $white;
  	background-color: $link;
  	&:hover { background-color: $link-light; }
  }

  .modes strong { color: $link-light; }

  // slider stuffs
  input[type=range]::-webkit-slider-runnable-track { background: $slider-bar; }
  input[type=range]::-webkit-slider-thumb {
    border: 0px solid $slider-button;
    background: $slider-button;
  }
  input[type=range]:focus::-webkit-slider-runnable-track { background: $slider-bar-active; }
  input[type=range]::-moz-range-track { background: $slider-bar; }
  input[type=range]::-moz-range-thumb {
    border: 0px solid $slider-button;
    background: $slider-button;
  }
  input[type=range]::-ms-fill-upper { background: $slider-bar; }
  input[type=range]::-ms-thumb {
    border: 0px solid $slider-button;
    background: $slider-button;
  }
  input[type=range]:focus::-ms-fill-lower { background: $slider-bar; }
  input[type=range]:focus::-ms-fill-upper { background: $slider-bar-active; }
}
