
<p>I am the <code>songs</code> module. I will retrieve some songs from <code>/api/songs</code> and make a new lorem ipsum song for you.</p>

<p>What [depeche] mode do you want?
  <input type="radio" ng-model="mode" ng-change="setMode(mode)" value="song"><label>Song</label>
  <input type="radio" ng-model="mode" ng-change="setMode(mode)" value="paragraph"><label>Paragraph</label>
</p>
<p ng-if="(mode !== 'song')">
  Generate <input type="number" ng-model="count" ng-change="setCount(count)" min="1" max="10"> paragraphs.
</p>

<p><button ng-click="generate()">Let us make song!</button></p>

<div ng-if="(song.length > 0)">
  <p>Your new lorem ipsum <b>{{ artist.join('/') }}</b> song contains lyrics from the following: <i>{{ songs.join(', ') }}</i></p>
  <blockquote ng-bind-html="song.join( (mode === 'song' ? '<br>' : '') )"></blockquote>
</div>
