
<div class="mode-container">
  <div class="mode-copy">
    Which <em ng-if="(artist.cssIdentifier == 'depeche-mode')">(depeche)</em> mode do you prefer?
  </div>
  <ul class="modes">
    <li>
      <label>
        <input type="radio" ng-model="mode" ng-change="setMode(mode)" value="paragraph">
        <strong>Paragraph</strong>
      </label>
    </li>
    <li>
      <label>
        <input type="radio" ng-model="mode" ng-change="setMode(mode)" value="lyrics">
        <strong>Lyrics</strong>
      </label>
    </li>
  </ul>
</div>

<div class="slider" ng-if="(mode !== 'lyrics')">
  <p>Generate <span class="range-value">{{ count }}</span> paragraphs.</p>
  <div class="range-slider">
    <input class="input-range" type="range" value="5" min="1" max="9" ng-model="count" ng-change="setCount(count)">
  </div>
</div>

<div class="actions">
  <button ng-click="generate()">Go</button>
</div>

<p ng-if="!reset && noSongs">Sorry, no songs are available for {{ artist.name }} yet.</p>

<div ng-if="(!reset && !noSongs && song.length > 0)">
  <div class="source-songs">
    <p>Your new lyric ipsum song contains lyrics from the following: <i>{{ songs.join(', ') }}</i></p>
  </div>

  <blockquote class="generated-results {{ mode }}" ng-bind-html="song.join('')"></blockquote>
</div>
